/*!********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./public/style.css ***!
  \********************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

