@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

body {
  background-color: rgb(27, 26, 26);
  color: white;
}

.gif {
  border-radius: 10px;
  box-shadow: 1px 1px 20px 5px black;
}
